html {
	font-size: 1.042vw; // font size 15px

	@include media(
		tablet
	) {
		font-size: 1.4vw;
	}
	@include media(
		mobile
	) {
		font-size: 4vw; // font size 15px
	}
}

body {
	margin: 0;
	padding: 0;
	color: $black-text;
	background-color: $white;
	font-family: $mont400;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
button {
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
}
.body {
	&--popup {
		overflow: hidden;
	}
}

.container {
	max-width: 77.4rem;
	margin: 0 auto;
	padding: 0
		1.333rem;
	@include media(
		mobile
	) {
		width: 100%;
		padding: 0
			1.067rem;
	}

	&--left {
		max-width: none;
		margin: 0 0 0
			10.4rem;
		padding: 0;
		@include media(
			mobile
		) {
			width: auto;
			margin: 0 0 0
				1.067rem;
		}
	}
	&--left-media {
		@include media(
			mobile
		) {
			width: auto;
			max-width: none;
			margin: 0 0 0
				1.067rem;
			padding: 0;
		}
	}
}
