.button {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.667rem;
	padding: 0.9rem
		2.8rem;
	width: fit-content;
	height: fit-content;
	cursor: pointer;
	font-family: $mont500;
	font-size: 0.933rem;
	font-weight: 500;
	text-transform: uppercase;
	transition: $transition;

	@include media(
		mobile
	) {
		width: 100%;
	}

	&::before {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: $white;
		z-index: 0;
		border-radius: 1.333rem;
		transition: $transition;
	}
	span {
		z-index: 1;
	}

	svg {
		width: 1.533rem;
		height: 1.533rem;
		transition: $transition;
		z-index: 1;
		circle {
			transition: $transition;
		}
		path {
			transition: $transition;
		}
	}

	&:hover,
	&:focus {
		color: $white;

		&::before {
			height: 4rem;
			background-color: $green;
		}

		svg {
			scale: 1.17;
			circle {
				fill: $white;
			}
			path {
				stroke: $green;
			}
		}
	}

	&:active {
		&::before {
			background-color: $green-active;
		}
	}
}

.header__button {
	@include media(
		mobile
	) {
		margin-top: 0.133rem;
		padding: 0.633rem
			1.133rem;
		&::before {
			border-radius: 0.733rem;
		}

		&:hover,
		&:focus {
			&::before {
				height: 2.5rem;
			}
		}

		svg {
			display: none;
		}
	}
	p {
		z-index: 1;
		@include media(
			mobile
		) {
			font-size: 0.733rem;
			line-height: 1.21;

			strong {
				display: none;
			}
		}
	}
}

.footer__button {
	color: $white;
	svg {
		circle {
			fill: $white;
		}
		path {
			stroke: $green;
		}
	}
	&::before {
		background-color: $green;
	}
}

.success__button {
	padding: 0.9rem
		4.4rem;
	color: $white;
	font-size: 1.2rem;
	line-height: 1.463rem;
	&::before {
		background-color: $green;
	}

	&:hover,
	&:focus {
		svg {
			path {
				stroke: none;
			}
		}
	}
}

.form__submit {
	position: relative;
	&::before {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(
			-50%,
			-50%
		);
		transform-origin: center;
		background-color: $green;
		z-index: 0;
		border-radius: 1.333rem;
		transition: $transition;
	}

	&:hover,
	&:focus {
		&::before {
			height: 4rem;
			background-color: $green-active;
		}
	}

	&:active {
		&::before {
			background-color: $green-action;
		}
	}

	&:has(
			.form__button:disabled
		) {
		&::before {
			background-color: $disabled;
		}
	}
}

.form__button {
	width: 100%;
	position: relative;
	padding: 1.1rem
		2.1rem 1.1rem 0;
	color: $white;
	z-index: 1;
	background-color: transparent;
	border: none;
	cursor: pointer;

	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23 24' fill='none'%3E%3Ccircle cx='11.5' cy='12' r='11.5' fill='%23fff'/%3E%3Cpath stroke='%23368B3C' d='M6.838 11.69h9.013M12.432 7.96l3.73 3.73-3.73 3.729'/%3E%3C/svg%3E");
	background-size: 1.533rem
		1.533rem;
	background-repeat: no-repeat;
	background-position: 63%
		center;
	transition: $transition;

	&:disabled {
		color: rgba(
			16,
			16,
			16,
			0.5
		);
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23 24' fill='none'%3E%3Ccircle cx='11.5' cy='12' r='11.5' fill='%23A9A9A9'/%3E%3Cpath stroke='%23fff' d='M6.838 11.69h9.013M12.432 7.96l3.73 3.73-3.73 3.729'/%3E%3C/svg%3E");
	}
}

.button__delete {
	width: 1.5rem;
	height: 1.5rem;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23101010' fill-opacity='.4' d='M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12ZM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h24v24H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
	background-size: 1.5rem
		1.5rem;
	background-repeat: no-repeat;
	cursor: pointer;
	transition: $transition;

	&:hover,
	&:focus {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%234A9F50' d='M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12ZM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h24v24H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
	}
	&:active {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23368B3C' d='M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12ZM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h24v24H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
	}
}
