.button {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.667rem;
	padding: 0.9rem
		2.8rem;
	width: fit-content;
	height: fit-content;
	cursor: pointer;
	font-family: $mont500;
	font-size: 0.933rem;
	font-weight: 500;
	text-transform: uppercase;
	transition: $transition;

	&::before {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: $white;
		z-index: 0;
		border-radius: 1.333rem;
		transition: $transition;
	}
	span {
		z-index: 1;
	}

	svg {
		width: 1.533rem;
		height: 1.533rem;
		transition: $transition;
		z-index: 1;
		circle {
			transition: $transition;
		}
		path {
			transition: $transition;
		}
	}

	&:hover,
	&:focus {
		color: $white;

		&::before {
			height: 4rem;
			background-color: $green;
		}

		svg {
			scale: 1.17;
			circle {
				fill: $white;
			}
			path {
				stroke: $green;
			}
		}
	}

	&:active {
		&::before {
			background-color: $green-active;
		}
	}
}

.footer__button {
	color: $white;
	svg {
		circle {
			fill: $white;
		}
		path {
			stroke: $green;
		}
	}
	&::before {
		background-color: $green;
	}
}

.success__button {
	padding: 0.9rem
		4.4rem;
	color: $white;
	font-size: 1.2rem;
	line-height: 1.463rem;
	&::before {
		background-color: $green;
	}
}

.form__button {
	width: 100%;
	margin-top: 2.667rem;
	padding: 1.1rem
		2.1rem 1.1rem 0;
	color: $white;
	background-color: $green;
	border: none;
	border-radius: 1.333rem;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23 24' fill='none'%3E%3Ccircle cx='11.5' cy='12' r='11.5' fill='%23fff'/%3E%3Cpath stroke='%23368B3C' d='M6.838 11.69h9.013M12.432 7.96l3.73 3.73-3.73 3.729'/%3E%3C/svg%3E");
	background-size: 1.533rem
		1.533rem;
	background-repeat: no-repeat;
	background-position: 63%
		center;
	transition: $transition;

	&:hover,
	:focus {
		scale: 1.05;
		background-color: $green-active;
	}

	&:active {
		background-color: $green-action;
	}

	&:disabled {
		color: rgba(
			16,
			16,
			16,
			0.5
		);
		background-color: $disabled;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23 24' fill='none'%3E%3Ccircle cx='11.5' cy='12' r='11.5' fill='%23A9A9A9'/%3E%3Cpath stroke='%23fff' d='M6.838 11.69h9.013M12.432 7.96l3.73 3.73-3.73 3.729'/%3E%3C/svg%3E");
	}
}
