.button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.667rem;
	padding: 0.9rem 2.8rem;
	width: fit-content;
	height: fit-content;
	cursor: pointer;
	background-color: $white;
	font-size: 0.933rem;
	font-weight: 500;
	text-transform: uppercase;
	border-radius: 1.333rem;
	transition: $transition;

	svg {
		width: 1.533rem;
		height: 1.533rem;
		transition: $transition;
		circle {
			transition: $transition;
		}
		path {
			transition: $transition;
		}
	}

	&:hover,
	&:focus {
		color: $white;
		background-color: $green;
		padding: 1.067rem 2.8rem;

		svg {
			width: 1.8rem;
			height: 1.8rem;
			circle {
				fill: $white;
			}
			path {
				stroke: $green;
			}
		}
	}

	&:active {
		background-color: $green-active;
	}
}
