.form {
	&__line {
		position: relative;
		&::before {
			content: "";
			width: 0.067rem;
			height: 100%;
			position: absolute;
			right: -7.933rem;
			background-color: rgba(0, 0, 0, 0.3);
		}
	}

	&__input {
		&:not(:last-child) {
			margin-bottom: 1.17rem;
		}

		label {
			font-family: $mont600;
			font-size: 1rem;
			font-weight: 600;

			input {
				width: 30.2rem;
				margin: 0;
				padding: 1rem 1.333rem;
				border: 0.067rem solid rgba(0, 0, 0, 0.3);
				border-radius: 1.333rem;
				font-family: $mont400;
				font-size: 1rem;
				font-weight: 400;
				&::placeholder {
					color: rgba(0, 0, 0, 0.7);
				}
			}

			p {
				margin-bottom: 0.667rem;
			}
		}
	}

	&__file {
		display: inline-block;
		height: 3rem;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 45 45' fill='none'%3E%3Ccircle cx='22.5' cy='22.5' r='22' stroke='%23368B3C'/%3E%3Cpath d='M22.5 15L22.5 31' stroke='%23368B3C'/%3E%3Cpath d='M30.5 23L14.5 23' stroke='%23368B3C'/%3E%3C/svg%3E");
		background-size: 3rem 3rem;
		background-repeat: no-repeat;
		background-position: 0 center;
		transition: $transition;

		&:hover,
		&:focus {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 45 45' fill='none'%3E%3Cpath fill='%23fff' d='M0 0h45v45H0z'/%3E%3Ccircle cx='22.5' cy='22.5' r='22' fill='%23368B3C' stroke='%23368B3C'/%3E%3Cpath stroke='%23fff' d='M22.5 15v16M30.5 23h-16'/%3E%3C/svg%3E");
		}

		label {
			p {
				padding: 0.9rem 0 0.9rem 4rem;
			}

			color: $black;
			cursor: pointer;
		}

		input[type="file"] {
			display: none;
		}
	}
}
