.main__title {
	margin-bottom: 1.333rem;
	max-width: 60rem;
	color: $white;
	font-family: $mont800;
	font-size: 4rem;
	font-weight: 800;
	@include media(
		mobile
	) {
		width: 100%;
		font-size: 2.4rem;
	}
}

.section__title {
	margin-bottom: 4rem;
	color: $white;
	font-family: $mont600;
	font-size: 2.667rem;
	font-weight: 600;
	line-height: 1.4;

	&--black {
		color: $black-text;
	}

	@include media(
		mobile
	) {
		margin-bottom: 2rem;
		font-size: 2.133rem;
	}
}
