//Colors
$white: #fff;
$black: #000;
$black-text: #101010;
$green: #368b3c;
$green-active: #4a9f50;

//fonts
$mont400: "Montserrat400", sans-serif;
$mont500: "Montserrat500", sans-serif;
$mont600: "Montserrat600", sans-serif;
$mont700: "Montserrat700", sans-serif;
$mont800: "Montserrat800", sans-serif;

//Transition
$transition: all 0.3s ease-in-out;
