.about {
	padding: 6.667rem 0 17.6rem 0;
	border-radius: 0 0 2rem 2rem;
	background-color: $black-text;

	&__socials {
		justify-content: space-around;
		margin-top: 6.667rem;

		@include media(tablet) {
			justify-content: inherit;
			padding-left: 0.667rem;
		}
	}

	&__slide {
		width: fit-content;
		min-height: 4rem;

		@include media(tablet) {
			width: auto;
		}

		svg {
			transition: $transition;
			filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(73deg)
				brightness(101%) contrast(101%);

			&:hover,
			&:focus {
				scale: 1.3;
				filter: none;
			}
		}
	}
}

.about__swiper-pagination {
	margin: 2rem auto 0;
	display: flex;
	justify-content: center;

	@media (min-width: 1025px) {
		margin: 0;
	}
}

.about__swiper-pagination--span.swiper-pagination-bullet {
	width: 0.533rem;
	height: 0.533rem;
	background: rgba(255, 255, 255, 0.1);
	opacity: 1;
}

.about__swiper-pagination--span.swiper-pagination-bullet-active {
	background: $green;
}
