.about {
	padding: 6.667rem 0 17.6rem 0;
	border-radius: 0 0 2rem 2rem;
	background-color: $black-text;

	&__wrapper {
		margin-top: 6.667rem;
		// display: flex;
		// justify-content: space-between;
		// align-items: center;
		padding: 0 2rem 0 2rem;
		transition: $transition;

		svg {
			fill: $white;
			cursor: pointer;
			transition: $transition;
			filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
				brightness(102%) contrast(102%);

			&:hover,
			&:focus {
				scale: 1.3;
				filter: none;
			}
		}
	}

	&__icon {
		transition: $transition;
		&:hover,
		&:focus {
			svg {
				filter: none;
				fill: #f73b2d;
			}
		}
	}
}
