.clients {
	padding: 6.667rem 0 6.667rem 0;
	position: relative;
	background-color: $black-text;

	&__slider {
		margin-top: 4rem;
	}

	&__image {
		display: block;
		width: 17.6rem;
		height: 34.467rem;
		object-fit: cover;
		border-radius: 0.667rem;
		border: 0.067rem solid $white;
		cursor: pointer;
		overflow: hidden;
		transition: $transition;

		&:hover,
		&:focus {
			border: 0.067rem solid $green;
		}
	}
}

.clients__swiper-pagination {
	margin: 2rem auto 0;
	display: flex;
	justify-content: center;
}

.clients__swiper-pagination--span.swiper-pagination-bullet {
	width: 0.667rem;
	height: 0.667rem;
	background: rgba(255, 255, 255, 0.1);
	opacity: 1;
}

.clients__swiper-pagination--span.swiper-pagination-bullet-active {
	background: $green;
}
