.footer {
	padding: 13.8rem 0
		1.933rem 0;
	@include media(
		mobile
	) {
		padding: 12.667rem
			0 1.067rem 0;
	}

	&__wrapper {
		height: 37rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@include media(
			mobile
		) {
			height: 28.1rem;
		}
	}

	&__inner {
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		@include media(
			mobile
		) {
			margin: 0;
		}
	}

	&__title {
		margin-bottom: 1.333rem;
		font-family: $mont700;
		font-size: 4rem;
		font-weight: 700;
		line-height: 1.4;
		@include media(
			mobile
		) {
			font-size: 2.133rem;
		}
	}

	&__text {
		margin-bottom: 4rem;
		font-family: $mont500;
		font-size: 1.6rem;
		font-weight: 500;
		line-height: 1.4;
		@include media(
			mobile
		) {
			margin-bottom: 2.7rem;
			font-size: 1.2rem;
		}
	}

	&__box {
		width: 100%;
		height: 6.133rem;
		display: flex;
		align-items: center;
		gap: 12.23rem;
		padding: 2rem
			2.3rem 2rem
			2rem;
		background-color: $black;
		border-radius: 2rem;
		transition: $transition;

		&:hover,
		&:focus {
			height: 7.467rem;
			@include media(
				mobile
			) {
				height: 4.219rem;
			}
		}

		@include media(
			tablet
		) {
			justify-content: space-between;
			gap: 0;
		}
		@include media(
			mobile
		) {
			padding: 0.933rem
				1.333rem;
			height: 3.467rem;
			border-radius: 1.4rem;
		}
	}

	&__contents {
		display: flex;
		gap: 1.67rem;
		align-items: center;
	}

	&__socials {
		margin-top: 0.33rem;
		display: flex;
		align-items: center;
		gap: 1.86rem;

		@include media(
			tablet
		) {
			display: none;
		}
	}

	&__icon {
		svg {
			width: auto;
			height: 1.7rem;
			transition: $transition;
			filter: brightness(
					0
				)
				saturate(
					100%
				)
				invert(100%)
				sepia(100%)
				saturate(0%)
				hue-rotate(
					73deg
				)
				brightness(
					101%
				)
				contrast(
					101%
				);

			&:hover,
			&:focus {
				scale: 1.3;
				filter: none;
			}
		}
	}

	&__contacts {
		display: flex;
		flex-direction: row-reverse;
		justify-content: start;
		align-items: center;
		gap: 1.38rem;

		a {
			display: flex;
			align-items: center;

			&:hover,
			&:focus {
				svg {
					scale: 1.3;
					fill: $green;
				}
				span {
					color: $green;
				}
			}
		}

		svg {
			width: 2.063rem;
			height: 2.125rem;
			fill: $white;
			transition: $transition;
			@include media(
				mobile
			) {
				width: 1.6rem;
				height: 1.6rem;
			}
		}

		span {
			margin-left: 0.75rem;
			color: $white;
			font-family: $mont500;
			font-size: 1.067rem;
			font-weight: 500;
			transition: $transition;

			@include media(
				mobile
			) {
				margin-left: 0.1rem;
				font-size: 0.867rem;
			}
		}

		@include media(
			mobile
		) {
			gap: 0.45rem;
		}
	}
}
