.header {
	position: fixed;
	top: 2rem;
	width: 100%;
	z-index: 5;
	transition: all 1s
		ease-in-out;

	&--hidden {
		opacity: 0;
		transform: translateY(
			-100%
		);
	}

	&__wrapper {
		height: 6rem;
		display: flex;
		padding: 1.333rem
			2rem;
		justify-content: space-between;
		align-items: center;
		border-radius: 2rem;
		background-color: $black;
		transition: $transition;

		&:hover,
		&:focus {
			height: 7.333rem;
		}
	}

	&__logo {
		svg {
			width: 6.267rem;
			height: 1.867rem;
		}
	}

	&__contacts {
		display: flex;
		gap: 4.2rem;
	}

	&__list {
		display: flex;
		gap: 2.74rem;
		align-items: center;

		svg {
			width: 2.063rem;
			height: 2.125rem;
			fill: $white;
			transition: $transition;

			&:hover,
			&:focus {
				scale: 1.3;
				fill: $green;
			}
		}
	}
}
