.header {
	position: fixed;
	top: 2rem;
	width: 100%;
	z-index: 99;

	&__wrapper {
		height: 6rem;
		display: flex;
		padding: 1.333rem 2rem;
		justify-content: space-between;
		align-items: center;
		border-radius: 2rem;
		background-color: $black;
		transition: $transition;
	}

	&__logo {
		svg {
			width: 6.267rem;
			height: 1.867rem;
		}
	}

	&__contacts {
		display: flex;
		gap: 4.2rem;
	}

	&__list {
		display: flex;
		gap: 2.98rem;
		align-items: center;
	}

	&__list-icon {
		width: 1.867rem;
		height: 1.8rem;
		fill: $white;
		transition: $transition;

		&--size {
			width: 2.2rem;
			height: 2.267rem;
		}

		&:hover,
		&:focus {
			scale: 1.3;
			fill: $green;
		}
	}
}
