.hero {
	border-radius: 0 0 2rem 2rem;
	background-color: #273627;

	&__wrapper {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__text {
		max-width: 25.333rem;
		display: flex;
		margin-bottom: 5.333rem;
		padding: 0 1rem;
		align-items: center;
		gap: 0.733rem;
		border-left: 0.133rem solid $green;
		color: $white;
		font-size: 1.067rem;
		font-weight: 500;
		line-height: 1.4;
	}

	&__button {
		height: 4rem;
	}
}
