.hero {
	border-radius: 0px 0px 30px 30px;
	background-color: #273627;

	&__wrapper {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__title {
		margin-bottom: 20px;
		max-width: 840px;
		color: $white;
		font-size: 60px;
		font-weight: 800;
	}

	&__text {
		max-width: 380px;
		display: flex;
		margin-bottom: 80px;
		padding: 0px 15px;
		align-items: center;
		gap: 11px;
		border-left: 2px solid $green;
		color: $white;
		font-weight: 500;
		line-height: 1.4;
	}

	&--size {
		height: 60px;
	}
}
