.hero {
	border-radius: 0 0
		2rem 2rem;
	background-color: #273627;

	&__wrapper {
		padding-top: 3.8rem;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__title {
		strong {
			color: $green;
		}

		@include media(
			mobile
		) {
			width: 100%;
			font-size: 2.4rem;
		}
	}

	&__text {
		max-width: 29.5rem;
		display: flex;
		margin-bottom: 5.333rem;
		padding: 0 1rem;
		align-items: center;
		gap: 0.733rem;
		border-left: 0.133rem
			solid $green;
		color: $white;
		font-family: $mont500;
		font-size: 1.067rem;
		font-weight: 500;
		line-height: 1.4;
	}
}
