.popup {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	background-color: $white;
	opacity: 0;
	z-index: -5;
	transition: $transition;

	&__wrapper {
		height: 100vh;
		padding-top: 2rem;
		display: flex;
		align-items: end;
		flex-direction: column;
		overflow: scroll;
		scrollbar-width: none;
		::-webkit-scrollbar {
			display: none;
		}
	}

	&--show {
		opacity: 1;
		z-index: 100;
	}

	&__header {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__icon-left {
		svg {
			width: 3.224rem;
			height: 1.8rem;
		}
	}

	&--close {
		svg {
			width: 3rem;
			height: 3rem;
			cursor: pointer;
			circle {
				stroke: $black-text;
				transition: $transition;
			}
			path {
				stroke: $black-text;
				transition: $transition;
			}
		}

		&:hover,
		:focus {
			svg {
				circle {
					stroke: $green-active;
				}
				path {
					stroke: $green-active;
				}
			}
		}

		&:active {
			svg {
				circle {
					stroke: $green;
				}
				path {
					stroke: $green;
				}
			}
		}
	}

	&__content {
		width: 100%;
		padding-bottom: 2rem;
		min-height: 38rem;
		height: calc(
			100vh - 4.5rem
		);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__title {
		margin-bottom: 3.9rem;
		color: $black-text;
	}

	&__contacts {
		margin-right: 10.733rem;
		padding-top: 2.267rem;
		display: flex;
		flex-direction: column-reverse;
		gap: 1rem;

		a {
			display: flex;
			align-items: center;
			gap: 1rem;

			&:hover,
			:focus {
				span {
					color: $green;
				}
				svg {
					scale: 1.3;
				}
			}
		}

		&
			> a:nth-child(
				2
			) {
			display: none;
		}

		span {
			font-family: $mont400;
			font-size: 1.4rem;
			line-height: 1.4;
			transition: $transition;
		}

		svg {
			width: 2.133rem;
			height: 2.133rem;
			fill: $green;
			transition: $transition;
		}
	}
}
