.portfolio {
	padding: 13.333rem 0 6.667rem 0;
	border-radius: 2rem 2rem 0rem 0rem;
	background-color: $black-text;

	&__slider {
		margin-top: 4rem;
	}

	&__link {
		display: flex;
		flex-direction: column;
		gap: 2rem;

		&:hover,
		&:focus {
			.portfolio__image {
				border: 0.067rem solid $green;
				overflow: hidden;
				img {
					transform: scale(0.8);
				}
			}

			svg {
				circle {
					fill: $green;
				}
				path {
					stroke: $white;
				}
			}
		}
	}

	&__image {
		min-width: 21.867rem;
		min-height: 21.867rem;
		object-fit: cover;
		overflow: hidden;
		transition: $transition;
		border: 0.067rem solid transparent;
		border-radius: 50%;
		transition: $transition;

		img {
			border-radius: 50%;
			transition: $transition;
			overflow: hidden;
			perspective: 66.667rem;
		}
	}

	&__description {
		padding-left: 0.767rem;
		display: flex;
		justify-content: space-between;

		svg {
			width: 2.867rem;
			height: 2.867rem;

			circle {
				transition: $transition;
			}
			path {
				transition: $transition;
			}
		}
	}

	&__name {
		color: $white;
		margin-bottom: 1rem;
		font-family: $mont700;
		font-size: 1.4rem;
		font-weight: 700;
	}

	&__excerpt {
		width: 11.333rem;
		color: rgba(255, 255, 255, 0.7);
		font-family: $mont500;
		font-size: 1rem;
		font-weight: 500;
	}
}
